body {
    font-family: Arial, sans-serif; /* Fonte principal */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0; /* Cor de fundo */
    color: #333;
}

header, footer {
    background-color: #333366; /* Azul escuro */
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
   
}